:root {
    /* ==========================================================================
       PRIMARY
       ========================================================================== */
    --p: #000000;

    /* ==========================================================================
       STATUS
       ========================================================================== */
    --s: #16a34a;
    --d: #dc2626;
    --info: #2563eb;

    /* ==========================================================================
       BACKGROUND
       ========================================================================== */
    --bg: #f4f4f5;
    --sf: #ffffff;
    --input-bg: #fafafa;
    --info-light: #eff6ff;

    /* ==========================================================================
       TEXT
       ========================================================================== */
    --t: #09090b;
    --ts: #71717a;
    --white: #ffffff;

    /* ==========================================================================
       BORDER
       ========================================================================== */
    --b: #e4e4e7;
    --border-light: #eef0f2;
    --border-soft: #f0f2f5;
    --border-extra-soft: #f5f7fa;
    --border-hover: #cbd5e1;

    /* ==========================================================================
       EFFECT
       ========================================================================== */
    --danger-light: #fef2f2;
    --hover-bg: #f8fafc;

    /* ==========================================================================
       RADIUS
       ========================================================================== */
    --r: 16px;
    --r-sm: 6px;
    --r-md: 10px;
    --r-lg: 12px;
    --r-xl: 20px;

    /* ==========================================================================
       SHADOW
       ========================================================================== */
    --shadow-sm: 0 4px 20px rgba(0, 0, 0, 0.05);
    --shadow-md: 0 4px 10px rgba(0, 0, 0, 0.04);
    --shadow-lg: 0 12px 40px rgba(0, 0, 0, 0.15);
    --shadow-toast:
        0 4px 6px -1px rgba(0, 0, 0, 0.03),
        0 10px 15px -3px rgba(0, 0, 0, 0.08),
        0 20px 25px -5px rgba(0, 0, 0, 0.05);

    /* ==========================================================================
       TRANSITION
       ========================================================================== */
    --transition: all .2s ease-in-out;
}